<!DOCTYPE html>
<html lang="es">

<head>
  {{ include('head.html.twig') }}
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="header fixed-top" data-scrollto-offset="0">
    {{ include('header.html.twig') }}

  </header><!-- End Header -->

    {{ include('banner.html.twig') }}


  <main id="main">

    <!-- ======= Featured Services Section ======= -->
    <section id="featured-services" class="featured-services">
      {{ include('featured_services.html.twig') }}
    </section><!-- End Featured Services Section -->

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      {{ include('about.html.twig') }}

    </section><!-- End About Section -->

    <!-- ======= Clients Section ======= -->
    <section id="clients" class="clients">
      {{ include('clients.html.twig') }}

    </section><!-- End Clients Section -->

    <!-- ======= Call To Action Section ======= -->
    <section id="cta" class="cta">
      {{ include('cta.html.twig') }}

    </section><!-- End Call To Action Section -->

    <!-- ======= On Focus Section ======= -->
    <section id="onfocus" class="onfocus">
      {{ include('onfocus.html.twig') }}

    </section><!-- End On Focus Section -->

    <!-- ======= Features Section ======= -->
    <section id="features" class="features">
      {{ include('features.html.twig') }}

    <!-- ======= Services Section ======= -->
    <section id="services" class="services">
      {{ include('services.html.twig') }}

    </section><!-- End Services Section -->

    <!-- ======= Testimonials Section ======= -->
    <section id="testimonials" class="testimonials">
      {{ include('testimonials.html.twig') }}

    </section><!-- End Testimonials Section -->

    <!-- ======= Pricing Section ======= -->
    <section id="pricing" class="pricing">
      {{ include('pricing.html.twig') }}

    </section><!-- End Pricing Section -->

    <!-- ======= F.A.Q Section ======= -->
    <section id="faq" class="faq">
      {{ include('faq.html.twig') }}

    </section><!-- End F.A.Q Section -->

    <!-- ======= Portfolio Section ======= -->
    <section id="portfolio" class="portfolio" data-aos="fade-up">
      {{ include('portfolio.html.twig') }}

    </section><!-- End Portfolio Section -->

    <!-- ======= Team Section ======= -->
    <section id="team" class="team">
      {{ include('team.html.twig') }}

    </section><!-- End Team Section -->

    <!-- ======= Recent Blog Posts Section ======= -->
    <section id="recent-blog-posts" class="recent-blog-posts">
      {{ include('recent_blog_posts.html.twig') }}

    </section><!-- End Recent Blog Posts Section -->

    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
      {{ include('contact.html.twig') }}

    </section><!-- End Contact Section -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer" class="footer">

      {{ include('footer.html.twig') }}


  </footer><!-- End Footer -->

  <a href="#" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <div id="preloader"></div>

      {{ include('javascript.html.twig') }}

</body>

</html>
